<mat-card class="box">
  <mat-card-content>

    <div class="editor-layout">
      <div class="left-column">
        <textarea
          [(ngModel)]="text"
          (ngModelChange)="updateText()"
          class="editor-input">
        </textarea>
      </div>

      <div class="right-column">
        <div *ngFor="let strophe of ($strophes | async)">
          <p *ngFor="let verse of strophe.verses">
            <span *ngFor="let token of verse.tokens">
              {{ token.content }}
            </span>
          </p>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
