<mat-card class="box">
  <mat-card-content>

    <div class="editor-layout">
      <div class="left-column">
        <textarea
          [(ngModel)]="text"
          (ngModelChange)="updateText()"
          class="editor-input">
        </textarea>
      </div>

      <div class="right-column">
        <div *ngFor="let strophe of ($strophes | async)" class="strophe">
          <p *ngFor="let verse of strophe.verses" class="verse">
            <app-word-part
              *ngFor="let wordPart of verse.wordParts"
              [wordPart]="wordPart"
              [selectedWord]="selectedWord"
              (selectEvent)="selectWord($event)">
            </app-word-part>
          </p>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
