<mat-card class="box">
  <mat-card-content>

    <div class="editor-layout">
      <div class="left-column">
        <textarea
          [(ngModel)]="text"
          (ngModelChange)="updateText()"
          class="editor-input">
        </textarea>
      </div>

      <div class="right-column">
        <div *ngFor="let strophe of ($strophes | async)" class="strophe">
          <p *ngFor="let verse of strophe.verses" class="verse">
            <ng-container *ngFor="let segment of verse.segments">
              <app-word-part *ngIf="segment.isWord"
                [wordPart]="segment.asWordPart()"
                [selectedWord]="selectedWord"
                (selectEvent)="selectWord($event)">
              </app-word-part>
              <span *ngIf="!segment.isWord" class="punct-segment">{{ segment.content }}</span>
            </ng-container>
          </p>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
