<form class="form">
  <mat-form-field class="full-width" appearance="fill">

    <mat-label>Word form</mat-label>
    <input #trigger="matAutocompleteTrigger"
           type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [ngModel]="inputText"
           (ngModelChange)="onChange($event)"
           [formControl]="myControl"
           [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="displayWith">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <span class="graphemes">{{option.graphemes}}</span>
        <span class="badge pos">{{option.pos}}</span>
        <span class="badge number" *ngIf="option.number">{{option.number}}</span>
        <span class="badge gender" *ngIf="option.gender">{{option.gender}}</span>
        <span class="badge person" *ngIf="option.person">{{option.person}}</span>
        <span class="badge mood" *ngIf="option.mood">{{option.mood}}</span>
        <span class="badge tense" *ngIf="option.tense">{{option.tense}}</span>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
</form>

