<div class="token-view">
  <div *ngFor="let strophe of segments" class="strophe">
    <p *ngFor="let verse of strophe" class="verse">
      <ng-container *ngFor="let segment of verse">
        <app-word-part *ngIf="segment.isWord"
          [wordPart]="segment"
          [selectedWord]="selectedWord"
          [hoveredWord]="hoveredWord"
          (hoverEvent)="hoverWord($event)"
          (selectEvent)="selectWord($event)">
        </app-word-part>
        <span *ngIf="!segment.isWord" class="punct-segment">{{ segment.content }}</span>
      </ng-container>
    </p>
  </div>
</div>
